<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click)="pageList()" class="cl-text-black cl-icon-padding">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="pageEdit()">Edit Page</a>
    </p>
    <a (click)="pageForm.ngSubmit.emit()" class="cl-text-black">
      <span class="fas fa-check fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit) = "updatePage()" #pageForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="page.name" type="text" class="form-control" id="name" name="name" placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="page.description" type="text" class="form-control" id="description" name="description" placeholder="Page Title">
    </div>
  </form>
  <button class="btn btn-danger btn-block"
     (click)="deleteSite()">Delete</button>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-black">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
