<nav class="navbar fixed-top navbar-dark bg-primary cl-text-white">
  <div class="container-fluid">
    <p>
      <a (click)="returnToProfile()" class="navbar-link cl-text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class= "navbar-brand mb-0 h1 cl-icon-padding" (click) = "list()" >
        Websites
      </a>
    </p>
    <a (click)="newWebsite()" class="cl-text-white">
      <span class="portrait fas fa-plus fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container">
  <ul class="list-group cl-list-group-borderless">
    <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
      <a (click)="editSite(website._id)"><span class="portrait fas fa-cog fontawsome_icon fa-pull-right"></span></a>
      <a (click)="viewPage(website._id)">{{website.name}}</a>
    </li>
  </ul>
</div>


<nav class="navbar fixed-bottom navbar-dark bg-primary d-flex flex-row-reverse cl-text-white">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-white">
      <span class="fas fa-user fontawsome_icon fa-pull-right"></span>
    </a>
  </div>
</nav>
