<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click)="widgetList()" class="cl-text-black">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="widgetEdit()">Widgets Edit</a>
    </p>
    <a (click)="headerForm.ngSubmit.emit()" class="cl-text-black">
      <span class="fas fa-check fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit) = "updateHeader()" #headerForm="ngForm">
  <div class="form-group">
    <label for="heading-name">Name</label>
    <input [(ngModel)]="widget.name" type="text" name="name" class="form-control" id="heading-name" placeholder="Header Name">
  </div>
  <div class="form-group">
    <label for="heading-text">Text</label>
    <input [(ngModel)]="widget.text" type="text" class="form-control" name="text" id="heading-text" placeholder="Header Text">
  </div>
  <div class="form-group">
    <label for="heading-size">Size</label>
    <input [(ngModel)]="widget.size" type="text" class="form-control" name="size" id="heading-size" placeholder="Ex: 1,2,3...">
  </div>
  </form>
  <button class="btn btn-danger btn-block"
     (click)="deleteWidget()">Delete</button>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click) = "profile()" class="nav-text cl-text-blue">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
