
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click)="websiteList()" class="cl-text-black cl-icon-padding">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="pageList()">Pages</a>
    </p>
    <a (click)="newWebsite()" class="cl-text-black cl-icon-padding">
      <span class="fas fa-plus fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li *ngFor="let page of pages" class="list-group-item cl-list-item-borderless">
      <a (click)="widgetList(page._id)">{{page.name}}</a>
      <a (click)="editPage(page._id)"><span class="fas fa-cog fontawsome_icon fa-pull-right"></span></a>
    </li>
  </ul>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-black">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
