<div class="container">

  <span class=" form-control alert alert-danger" *ngIf="errorFlag">
      {{ errorMessage }}
    </span>

  <h1>
    Register
  </h1>
  <form (ngSubmit) = "register()" #registerForm="ngForm">
    <input type="text"
           name = username
           class="form-control"
           ngModel required #username="ngModel"
           placeholder="username"/>
    <input type="text"
           name = "password"
           class="form-control"
           ngModel required #password="ngModel"
           placeholder="password"/>
    <input type="text"
           name = "vpass"
           class="form-control"
           ngModel required #vpass="ngModel"
           placeholder="verify password"/>
    <button class="btn btn-primary btn-block"
            type = "submit"
            [disabled] = "!registerForm.valid">
      Register</button>

    <a class="btn btn-danger btn-block"
       [routerLink]="['/login']">Cancel</a>
  </form>


</div>
