<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']" class="cl-text-black">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/:wgid']">Widget Edit</a>
    </p>
    <a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']" class="cl-text-black">
      <span class="fas fa-check fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input type="text" class="form-control" id="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input type="text" class="form-control" id="youtube-URL" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
  </form>
  <a class="btn btn-danger btn-block" [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']">Delete</a>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a [routerLink]="['/user/:uid']" class="nav-text cl-text-blue">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
