<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click)="widgetList()" class="cl-text-black">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="widgetEdit()">Widget Edit</a>
    </p>
    <a (click)="youtubeForm.ngSubmit.emit()" class="cl-text-black">
      <span class="fas fa-check fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container">
  <form (ngSubmit) = "updateYoutube()" #youtubeForm="ngForm">
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input [(ngModel)]="widget.name" name="name" type="text" class="form-control" id="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input [(ngModel)]="widget.text" name="text" type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input [(ngModel)]="widget.url" name="url" type="text" class="form-control" id="youtube-URL" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [(ngModel)]="widget.width" name="width" type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
  </form>
  <button class="btn btn-danger btn-block" (click)="deleteWidget()">Delete</button>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-blue">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
