<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click)="widgetList()" class="cl-text-black">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="newWidget()">Choose Widgets</a>
    </p>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('heading')">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('image')">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
    <a (click)="createWidget('youtube')">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('html')">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('text')">Text</a>
    </li>
  </ul>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-blue">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
