<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click)="pageList()" class="cl-text-black cl-icon-padding">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="newPage()">New Page</a>
    </p>
    <a (click)="pageForm.ngSubmit.emit()" class="cl-text-black">
      <span class="fas fa-check fa-pull-right"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <span class=" form-control alert alert-danger" *ngIf="errorFlag">
      {{ errorMessage }}
    </span>
  <form (ngSubmit) = "addPage()" #pageForm="ngForm">
    <div class="form-group">
      <label for="pageName">Name</label>
      <input type="text"
             name="pageName"
             class="form-control"
             id="pageName"
             ngModel required pageName="NgModel"
             placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text"
             name = "description"
             class="form-control"
             id="description"
             ngModel required description="ngModel"
             placeholder="Page Description">
    </div>
  </form>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-black">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
