<nav class="navbar fixed-top navbar-dark bg-primary mr-auto">
  <div class="row">
    <div class="landscape  col-4">
      <div class="container-fluid">
        <p>
          <a (click)="websiteList()" class="navbar-link cl-text-white">
            <span class="fas fa-chevron-left"></span>
          </a>
          <a class= "navbar-brand mb-0 h1 cl-icon-padding" [routerLink]="['user/:uid/website/:wid']" >
            Websites
          </a>

          <a (click)="newSite()" class="cl-text-white">
            <span class="fas fa-plus fa-pull-right"></span>
          </a>
        </p>
      </div>
    </div>
    <div class="col-8">
      <div class="container-fluid">
        <p>
          <a class= "navbar-brand mb-0 h1 cl-icon-padding" [routerLink]="['user/:uid/website/:wid']" >
            Edit Website
          </a>
        </p>
        <a [routerLink]="['user/:uid/website']" class="cl-text-white">
          <span class="fas fa-check fa-pull-right"></span>
        </a>
      </div>
    </div>
  </div>
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="landscape col-4">
      <ul class="list-group cl-list-group-borderless">
        <li *ngFor="let website of websites" class="list-group-item cl-list-item-borderless">
          <a (click)="editSite(website._id)"><span class="fas fa-cog fontawsome_icon fa-pull-right"></span></a>
          <a (click)="pageList(website._id)">{{website.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="website-name">Website Name</label>
          <input [(ngModel)]="website.name" name="websiteName" type="text" class="form-control" id="website-name" placeholder="Website Name">
        </div>
        <div class="form-group">
          <label for="website-description">Website Description</label>
          <textarea [(ngModel)]="website.description" name="websiteDescription" id="website-description" class="form-control" rows="5"
                    placeholder="Website Description"></textarea>
        </div>
        <button class="btn btn-danger btn-block"
           (click)="deleteSite()">Delete</button>
      </form>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-primary d-flex flex-row-reverse cl-text-white">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-white">
      <span class="fas fa-user fontawsome_icon fa-pull-right"></span>
    </a>
  </div>
</nav>
