<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a (click) = "returnToPageList()" class="cl-text-black">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" (click) = "widgetList()">Choose Widgets</a>
    </p>
    <a (click) = "newWidget()" class="cl-text-black cl-icon-padding">
      <span class="fas fa-plus fa-pull-right"></span>
    </a>
  </div>
</nav>

<div *ngFor="let widget of widgets" class="container cl-container-padding">
  <div [ngSwitch]="widget.widgetType">
    <div *ngSwitchCase= '"HEADING"'>
      <div class="pull-right">
        <a (click)="editWidget(widget._id)" class="pull-right">
          <span class="fas fa-cog fontawsome_icon" style="background-color: white"></span>
        </a>
        <a (click) = "widgetList()">
          <span class="fas fa-bars fontawsome_icon" style="background-color: white"></span>
        </a>
      </div>
      <h1>{{widget.text}}</h1>
    </div>

    <div *ngSwitchCase='"IMAGE"'>
      <div>
        <a (click)="editWidget(widget._id)" class="pull-right">
          <span class="fas fa-cog fontawsome_icon" style="background-color: white"></span>
        </a>
        <a (click) = "widgetList()" class="pull-right">
          <span class="fas fa-bars fontawsome_icon" style="background-color: white"></span>
        </a>
        <img class="img-responsive img-rounded cl-widget-images"
             src="{{widget.url}}">
      </div>
    </div>

    <div *ngSwitchCase='"YOUTUBE"'>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="640" height="360" [src]="safe(widget.url)" frameborder="0" allowfullscreen></iframe>
      </div>
      <a (click)="editWidget(widget._id)" class="pull-right">
        <span class="fas fa-cog fontawsome_icon" style="background-color: white"></span>
      </a>
      <a (click) = "widgetList()" class="pull-right">
        <span class="fas fa-bars fontawsome_icon" style="background-color: white"></span>
      </a>
    </div>
  </div>
</div>


<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-blue">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
